client/client
server/server
server/server_amd64
server/config.yaml
client/config.yaml
test/clientcompare/clientcompare
test/clientcompare/build/linux_amd64/clientcompare
test/testserver/testserver
test/servercompare/servercompare
test/servercompare/build/linux_amd64/servercompare
test/testclient/testclient
test/testclient/build/linux_amd64/testclient
test/testserver/main.go
client/client.exe
test/droptestgw/droptestgw
test/sshtest/client/client
test/sshtest/server/server
